# Chapter 1 exercises
Problems 1, 3, 4

## Exercise 1

The textbook asks us to use the python print statement with this particular string

In [10]:
# demonstrating the print function
print('This is a test of the Python interpreter.')

This is a test of the Python interpreter.

In [11]:
# trying other words
print('Connor')

Connor

In [13]:
# trying a comma to separate
print('This might work:' , 9)

This might work: 9

In [12]:
# putting quotes around the number to get the same result
print('This might work:' , '8')

This might work: 8

In [14]:
# trying without a comma and using words
print('test' 'another test')

testanother test

In [15]:
# separating with the comma
print('test' , 'another test')

test another test

In [16]:
# trying not using quotes for "test"
print('another test' , test)

NameError: name 'test' is not defined

In [17]:
# using double digits instead of single digits
print('test' , 89)

test 89

In [18]:
# implementing math
print('test' , 8+9)

test 17

In [19]:
# trying differnt kinds of math
print('math' , 2*4+6)

math 14

## Exercise 3

The textbook asks us to convert the following decimal numbers to binary

convert 11 to binary:
1011

convert 65 to binary:
1000001

convert 100 to binary:
1100100

convert 255 to binary:
11111111

## Exercise 4

The textbook asks us to convert the following binary numbers to decimal

convert 1101 to decimal:
13

convert 1000 to decimal: 8

convert 101011 to decimal: 43